{% extends 'base.html.twig' %}
{% trans_default_domain 'shopping_list' %}

{% block body %}

    <div id="shopping-list-create-update" class="container-fluid">
        <h2>
            {% if shoppingList.name is not empty %}
                {{ 'form.update' |trans({'%name': shoppingList.name}) }}
            {% else %}
                {{ 'form.create' |trans }}
            {% endif %}
        </h2>

        {{ form_start(form) }}

        <div class="row mt-5 mb-5">
            <div class="col-md-2">
                {{ form_label(form.name) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(form.name) }}
            </div>
        </div>

        <div class="row">
            <div class="offset-md-4 col-md-2 text-end">
                <a href="{{ path('shopping_list_crud') }}" class="btn btn-outline-black">
                    {{ 'form.button.cancel' |trans([], 'messages') }}
                </a>
                {{ form_widget(form.submit) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}