{% extends 'main/pattern/modal.html.twig' %}
{% trans_default_domain 'shopping_list' %}

{% block modalTitle %} {{ 'modal.delete' |trans({'%name': shoppingList.name}) }} {% endblock %}

{% block modalBody %}
    <div class="row">
        <div class="col-md-12">
            {{ 'modal.delete_question' |trans({'%name': shoppingList.name}) }}
        </div>
    </div>
{% endblock %}

{% block modalSubmitButton %}
    <button class="btn btn-danger delete-button" data-url="{{ path('shopping_list_delete', {'id': shoppingList.id}) }}">
        {{ 'button.delete' |trans([], 'messages') }}
    </button>
{% endblock %}
