{% extends 'main/pattern/modal.html.twig' %}
{% trans_default_domain 'shopping_list' %}

{% block modalTitle %} {{ 'modal.share' |trans({'%name': shoppingList.name}) }} {% endblock %}

{% block beginModalForm %} {{ form_start(form) }} {% endblock %}

{% block modalBody %}
    <div class="row mt-5">
        <div class="col-md-6">
            {{ form_label(form.users) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.users) }}
        </div>
    </div>
{% endblock %}

{% block modalSubmitButton %}
    {{ form_widget(form.submit, {
        'attr': {
            'class' : 'btn btn-success submit'
        }
    }) }}
{% endblock %}

{% block endModalForm %} {{ form_start(form) }} {% endblock %}
