<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" {% if modalId is defined %}id="{{ modalId }}"{% endif %}>

    <div class="modal-dialog">

        <div class="modal-content">

            {% block beginModalForm %}{% endblock %}

            <div class="modal-header">

                <h4 class="modal-title">
                    {% block modalTitle %}{% endblock %}
                </h4>

                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>

            </div>

            <div class="modal-body">

                {% block modalBody %}{% endblock %}

            </div>

            <div class="modal-footer">

                {% block modalFooterContent %}{% endblock %}

                <button type="button" class="btn btn-outline-black close" data-bs-dismiss="modal">
                    {% block modalFooterDismiss %}
                        {{ 'modal.button.close' | trans }}
                    {% endblock %}
                </button>

                {% block modalSubmitButton %}{% endblock %}

            </div>

            {% block endModalForm %}{% endblock %}

        </div>

    </div>

</div>