{% extends 'base.html.twig' %}

{% block title %}{{ 'form.title.login' |trans }}{% endblock %}

{% block body %}

    <div class="text-center">
        <main class="center-all">

            <h2 class="h3 mb-5 fw-normal">{{ 'form.title.login' |trans }}</h2>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            {{ form_start(form) }}

            <div class="form-floating mb-3">
                {{ form_row(form.email) }}
            </div>

            <div class="form-floating mb-3">
                {{ form_row(form.password) }}
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="w-100 btn btn-lg btn-black" type="submit">{{ 'form.title.login' |trans }}</button>

            {{ form_end(form) }}

        </main>
    </div>

{% endblock %}
