{% extends 'base.html.twig' %}

{% block title %}{{ 'form.title.register' |trans }}{% endblock %}

{% block body %}

    <div class="text-center">
        <main class="center-all">

            <h2 class="h3 mb-5 fw-normal">{{ 'form.title.register' |trans }}</h2>

            {{ form_start(form) }}

                <div class="form-floating">
                    {{ form_row(form.email) }}
                </div>

                <div class="form-floating mb-3">
                    {{ form_row(form.plainPassword) }}
                </div>

                <div class="form-floating">
                    {{ form_row(form.username) }}
                </div>

                <div class="checkbox mb-3 mt-3">
                    {{ form_row(form.agreeTerms) }}
                </div>

                <button class="w-100 btn btn-lg btn-black" type="submit">{{ 'form.button.submit' |trans }}</button>

            {{ form_end(form) }}

        </main>
    </div>

{% endblock %}
