{% extends 'base.html.twig' %}
{% trans_default_domain 'shopping_list' %}

{% block body %}

    <div id="shopping-lists" class="container-fluid">
        <h2>{{ 'my_lists' |trans }}</h2>

        <div class="row mb-5">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-end">
                <a href="{{ path('shopping_list_create') }}" class="btn btn-orange">
                    {{ 'button.create' |trans }}
                </a>
            </div>
        </div>

        {% if shoppingLists | length >= 1 %}
            <table class="table table-bordered border-dark table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">{{ 'form.label.name' |trans }}</th>
                        <th scope="col">{{ 'form.label.created' |trans }}</th>
                        <th scope="col">{{ 'form.label.nb_products' |trans }}</th>
                        <th scope="col">{{ 'form.label.shared' |trans }}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for shoppingList in shoppingLists %}
                        <tr>
                            <td>
                                <a class="text-dark" href="{{ path('shopping_list_show', {'id': shoppingList.id}) }}">
                                    {{ shoppingList.name }}
                                </a>
                            </td>
                            <td>{{ shoppingList.created | date('d/m/Y') }}</td>
                            <td>
                                {{ shoppingList.shoppingListProducts.count }}
                            </td>
                            <td>
                                {{ getUsersWhomShoppingListHasBeenShared(shoppingList) |length }}
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-outline-orange dropdown-toggle" type="button" id="dropdownShoppingList" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownShoppingList">
                                        <li>
                                            <a class="dropdown-item" href="{{ path('shopping_list_show', {'id': shoppingList.id}) }}">
                                                {{ 'button.show' |trans([], 'messages') }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('shopping_list_edit', {'id': shoppingList.id}) }}">
                                            {{ 'button.update' |trans([], 'messages') }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item open-modal" href="#" data-url="{{ path('shopping_list_modal', {'modalType': 'delete', 'id' : shoppingList.id}) }}">
                                                {{ 'button.delete' |trans([], 'messages') }}
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info">
                {{ 'no_list_created' |trans }}
            </div>
        {% endif %}

    </div>

{% endblock %}