{% extends 'base.html.twig' %}
{% trans_default_domain 'shopping_list' %}

{% block body %}

    <div id="shopping-list" class="container-fluid">
        <h2>{{ 'list' |trans }} <i>{{ shoppingList.name }}</i></h2>

        <div class="row">
            <div class="col-md-12">
                <em>{{ 'form.label.created' |trans }} {{ shoppingList.created | date('d/m/Y') }}</em>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12 text-end">
                <a href="{{ path('shopping_list_product_add', {'shoppingListId' : shoppingList.id}) }}" class="btn btn-orange">
                    {{ 'button.add' |trans([], 'shopping_list_product') }}
                </a>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-3 col-md-6">
                {% if shoppingList.shoppingListProducts.count > 0 %}
                    <table id="products" class="table">
                        <thead>
                            <tr>
                                <th>Produit (quantité)</th>
                                <th>Partages</th>
                                <th>Modifier</th>
                                <th>Gestion du partage</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        {% for shoppingListProduct in shoppingList.shoppingListProducts.toArray %}
                            {% set sharedToUser = null %}

                            {% for user in shoppingListProduct.sharedTo.toArray  %}
                                {% if sharedToUser is not empty %}
                                    {% set sharedToUser = sharedToUser ~ ', ' ~ user.username %}
                                {% else %}
                                    {% set sharedToUser = user.username %}
                                {% endif %}
                            {% endfor %}

                            {% set isShared = shoppingListProduct.sharedTo.count > 0 %}

                            <tr class="product">
                                <td>
                                    {{ shoppingListProduct.product }}

                                    {% if shoppingListProduct.quantity is not empty %}
                                    ({{ shoppingListProduct.quantity }})
                                    {% endif %}
                                </td>
                                <td title="{{ sharedToUser }}" class="text-center">
                                    {% if isShared %}
                                        <span class="text-orange"><strong>{{ shoppingListProduct.sharedTo.count }}</strong></span>
                                    {% else %}
                                        {{ shoppingListProduct.sharedTo.count }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a class="btn" href="{{ path('shopping_list_product_update', {'shoppingListId': shoppingList.id, 'id': shoppingListProduct.id}) }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn" href="{{ path('shopping_list_product_share', {'shoppingListId': shoppingList.id, 'id': shoppingListProduct.id}) }}">
                                        <i class="fas fa-share"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn" href="{{ path('shopping_list_product_delete', {'shoppingListId': shoppingList.id, 'id': shoppingListProduct.id}) }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="alert alert-info">
                        {{ 'no_products' |trans([], 'shopping_list_product') }}
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}