{% extends 'base.html.twig' %}

{% block body %}
    <div id="homepage" class="container col-xl-10 col-xxl-8 px-4 py-5">

        <main class="row align-items-center g-lg-5 py-5">

            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1 mb-3">{{ 'website_name' |trans }}</h1>
                <h4>{{ 'catch_phrase' |trans }}</h4>
                <p class="lead">
                    {{ 'homepage.speech.line_1' |trans }}
                    <br>
                    {{ 'homepage.speech.line_2' |trans }}
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <a type="button" class="btn btn-orange btn-lg px-4 me-md-2 fw-bold" href="{{ path('app_login') }}">
                        {{ 'login' |trans }}
                    </a>
                    <a type="button" class="btn btn-outline-orange btn-lg px-4" href="{{ path('app_register') }}">
                        {{ 'register' |trans }}
                    </a>
                </div>
            </div>

            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="#" alt="" width="720">
            </div>

        </main>

    </div>
{% endblock %}