{% extends 'base.html.twig' %}
{% trans_default_domain 'shopping_list_product' %}

{% block body %}

    <div id="shopping-list-product-create-edit" class="container-fluid">
        <h2>
            {% if shoppingListProduct.product is not empty %}
                {{ 'modal.update' |trans({'%listName': shoppingListProduct.shoppingList.name}) }}
            {% else %}
                {{ 'modal.add' |trans }}
            {% endif %}
        </h2>

        {{ form_start(form) }}

        <div class="row mt-5 mb-5">
            <div class="col-md-1">
                {{ form_label(form.product) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(form.product) }}
            </div>
            <div class="offset-md-2 col-md-1">
                {{ form_label(form.quantity) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(form.quantity) }}
            </div>
        </div>

        <div class="row">
            <div class="offset-md-4 col-md-2 text-end">
                <a href="{{ path('shopping_list_show', {'id': shoppingListProduct.shoppingList.id}) }}" class="btn btn-outline-black">
                    {{ 'form.button.cancel' |trans([], 'messages') }}
                </a>
                {{ form_widget(form.submit) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}