{% extends 'base.html.twig' %}
{% trans_default_domain 'shopping_list_product' %}

{% block body %}
    <h2>{{ 'action.share' |trans({'%product': shoppingListProduct.shoppingList.name}) }}</h2>

    <div class="container-fluid">

        {{ form_start(form) }}

        <div class="row mt-5">
            <div class="col-md-1">
                {{ form_label(form.users) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(form.users) }}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 text-center mb-3">
                <p><em>Pour retirer un partage, faites un CTRL + clic sur l'utilisateur.</em></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="{{ path('shopping_list_show', {'id': shoppingListProduct.shoppingList.id}) }}" class="btn btn-outline-black">
                    {{ 'form.button.cancel' |trans({}, 'messages') }}
                </a>
                {{ form_widget(form.submit) }}
            </div>
        </div>

        {{ form_start(form) }}

    </div>
{% endblock %}
