@import "variables"

body
    background-color: #E3E7EA

    header
        background-color: $orange
        margin-bottom: 20px

    .center-all
        width: 100%
        max-width: 330px
        padding: 15px
        margin: auto
        margin-top: 10%


#homepage
    margin-top: 7%

.btn-black
    background-color: black
    color: $orange
    border-color: black
    &:hover
        background-color: $orange
        color: black
        border-color: black

.btn-orange
    background-color: $orange
    color: black
    border-color: black
    &:hover
        background-color: black
        color: $orange
        border-color: black

.btn-outline-black
    color: black
    border-color: black
    &:hover
        background-color: black
        color: $orange
        border-color: black

.btn-outline-orange
    color: $orange
    border-color: $orange
    &:hover
        background-color: $orange
        color: black
        border-color: #000000

.text-orange
    color: $orange

.bold
    font-weight: bold

.logo-orange
    color: $orange
