<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta lang="fr">
        <title>{% block title %}Money Pit{% endblock %}</title>


        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('build/js/app/modal.js') }}"></script>
        {% endblock %}
    </head>


    <body>

        {% include 'header.html.twig' %}

        <main class="container">

            <div class="container">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="col-md-4 offset-md-4 text-center alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            {% block body %}

            {% endblock %}
        </main>

    </body>

</html>
