<header class="p-3 bg-dark text-white">

        <nav class="navbar d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="container-fluid">

            {% if app.user is not null %}
                <span class="navbar-brand d-flex align-items-center mb-2 mb-lg-0 text-decoration-none logo-orange">
                    {{ 'website_name' |trans }}
                </span>
            {% else %}
                <a href="{{ path('homepage') }}" class=" navbar-brand d-flex align-items-center mb-2 mb-lg-0 text-decoration-none logo-orange">
                    {{ 'website_name' |trans }}
                </a>
            {% endif %}

            {% if app.user is not null %}
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="{{ path('shopping_list_crud') }}" class="nav-link px-2 text-white">
                            {{ 'my_lists' |trans([], 'shopping_list') }}
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('shared_crud_page') }}" class="nav-link px-2 text-white">
                            {{ 'shared.link' |trans }}
                        </a>
                    </li>
                </ul>

                <div class="text-end">
                    <a type="button" class="btn text-white" href="#">
                        {{ app.user.username }}
                    </a>
                    <a type="button" class="btn btn-outline-orange" href="{{ path('app_logout') }}">
                        {{ 'logout' | trans }}
                    </a>
                </div>

            {% endif %}

            </div>
        </nav>

</header>