{% if shoppingListProductsSharedOut| length >= 1 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ 'shared.table.shared_to' |trans }}</th>
            <th>{{ 'shared.table.list' |trans }}</th>
            <th>{{ 'shared.table.products' |trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for shoppingList, shoppingListProductSharedOut in shoppingListProductsSharedOut %}
            <tr>
                <td>{{ shoppingListProductSharedOut['user'] }}</td>
                <td>
                    <a href="{{ path('shopping_list_show', {'id': shoppingListProductSharedOut['shoppingListId']}) }}" class="text-dark">
                        {{ shoppingList }}
                    </a>
                </td>
                <td>{{ shoppingListProductSharedOut['products'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info">
        {{ 'shared.msg.nothing_shared_out' |trans }}
    </div>
{% endif %}