{% if shoppingListProductsSharedIn| length >= 1 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ 'shared.table.user' |trans }}</th>
            <th>{{ 'shared.table.list' |trans }}</th>
            <th>{{ 'shared.table.products' |trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for shoppingList, shoppingListProductSharedIn in shoppingListProductsSharedIn %}
            <tr>
                <td>{{ shoppingListProductSharedIn['user'] }}</td>
                <td>{{ shoppingList }}</td>
                <td>{{ shoppingListProductSharedIn['products'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info">
        {{ 'shared.msg.nothing_shared_in' |trans }}
    </div>
{% endif %}