{% extends 'base.html.twig' %}

{% block body%}
    <h2>{{ 'shared.link' |trans }}</h2>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs justify-content-end" id="sharedTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="sharedIn-tab" data-bs-toggle="tab" data-bs-target="#sharedIn" type="button" role="tab" aria-controls="sharedIn" aria-selected="true">
                {{ 'shared.tab.shared_in' |trans }}
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="sharedOut-tab" data-bs-toggle="tab" data-bs-target="#sharedOut" type="button" role="tab" aria-controls="sharedOut" aria-selected="false">
                {{ 'shared.tab.shared_out' |trans }}
            </button>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="sharedIn" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            {% include 'shared/_shared-in-tab.html.twig' with {'shoppingListProductsSharedIn': shoppingListProductsSharedIn} %}
        </div>
        <div class="tab-pane" id="sharedOut" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            {% include 'shared/_shared-out-tab.html.twig' with {'shoppingListProductsSharedOut': shoppingListProductsSharedOut} %}
        </div>
    </div>

{% endblock %}